.idea/*.xml
.idea/shelf/**
*.txt
qualtrics/pull_qualtrics.ipynb
pull_data.sh
run_file_transfer.py
pay.ipynb
*.ipynb
**.ipynb
**__pycache__
data_dir.txt
*.csv
*.pyc
.DS_Store
._.DS_Store
*.json
*.log
*.mp4
*.MP4
*.wav
*.WAV
*.mp3
*.MP3
*.360
*.mov
*.MOV
*.avi
*.AVI
*.mkv
*.MKV
